{% extends 'backend_layout.html' %}

{% block title %}
    后台管理
{% endblock %}
{% block css %}

{% endblock %}

{% block contents %}
    <h2>报障图表</h2>
    <div id="chart" style="min-width:400px;height:400px"></div>
    <div id="chart2" style="min-width:400px;height:400px"></div>

{% endblock %}

{% block js %}
    <script>
        Highcharts.setOptions({
            global: {
                useUTC: false
            }
        });

        $(function () {
            initChart();
        });

        function initChart() {
            var config = {
                chart: {
                    type: 'spline'
                },
                title: {
                    text: '报障实时数据'
                },
                xAxis: {
                    type: 'datetime'
                },
                yAxis: {
                    title: {
                        text: '值'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },
                tooltip: {
                    formatter: function () {
                        return '<b>' + this.series.name + '</b><br/>' +
                            Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                            Highcharts.numberFormat(this.y, 2);
                    }
                },
                legend: {
                    enabled: true
                },
                exporting: {
                    enabled: false
                },
                series: [
                    {
                        name: 'A',
                        data: [
                            [1491535949788.035, 7.0],
                            [1491535949888.035, 6.0],
                            [1491535949988.035, 10.0],
                            [1491535950088.035, 1.0]
                        ]
                    },
                    {
                        name: 'B',
                        data: [
                            [1491535949788.035, 8.0],
                            [1491535949888.035, 2.0],
                            [1491535949988.035, 40.0],
                            [1491535950088.035, 1.0]
                        ]
                    }
                    ,
                    {
                        name: 'C',
                        data: [
                            [1491535949788.035, 10.0],
                            [1491535949888.035, 2.0],
                            [1491535949988.035, 10.0],
                            [1491535950088.035, 8.0]
                        ]
                    }

                ]
            };
            {#            $('#chart2').highcharts(config)#}

            $.ajax({
                url: '/backend/trouble-json-report.html',
                dataType: 'json',
                success: function (arg) {
                    config['series'] = arg;
                    $('#chart').highcharts(config);
                }
            })
        }

    </script>
{% endblock %}