<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/plugins/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/plugins/font-awesome/css/font-awesome.css"/>
    <style>
        .login {
            width: 400px;
            margin: 50px auto 0 auto;
            border: 1px solid #DDDDDD;
        }

        .login .login-content {
            width: 338px;
            margin: 0 auto;
        }
    </style>
</head>
<body>

<div class="login">
    <h3 style="text-align: center; font-weight: bold">用户注册</h3>
    <div class="login-content">
        <form class="form-horizontal" method="post" action="/register.html">
            {% csrf_token %}
            <div class="form-group">
                <label for="username" class="col-sm-3 control-label">账号</label>
                <div class="col-sm-9">
                    {{ form.username }}
                    <div style="color: red">{{ form.username.errors.0 }}</div>
                </div>

            </div>
            <div class="form-group">
                <label for="email" class="col-sm-3 control-label">邮箱</label>
                <div class="col-sm-9">
                    {{ form.email }}
                    <div style="color: red">{{ form.email.errors.0 }}</div>
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-3 control-label">密码</label>
                <div class="col-sm-9">
                    {{ form.password }}
                    <div style="color: red">{{ form.password.errors.0 }}</div>
                </div>
            </div>
            <div class="form-group">
                <label for="confirm_password" class="col-sm-3 control-label">确认密码</label>
                <div class="col-sm-9">
                    {{ form.confirm_password }}
                    <div style="color: red">{{ form.confirm_password.errors.0 }}</div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-10">
                    <button type="submit" class="btn btn-default">完成</button>
                </div>
            </div>
        </form>
    </div>

</div>

</body>
</html>